<div class="header">
  <div class="container">
    <div class="header-inner">
      <a routerLink="" class="logo">Елларис</a>
      <nav class="navigation">
        <ul class="nav-list">
          <li class="nav-item"><a routerLink="/about" class="nav-item-link">О НАС</a></li>
          <li class="nav-item"><a routerLink="prices" class="nav-item-link">УСЛУГИ</a></li>
          <li class="nav-item"><a routerLink="doctors" class="nav-item-link">НАШИ ВРАЧИ</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
