<div class="main">
  <div class="container">
    <div class="main-inner">
      <div class="main-conent">
        <h3 class="subtitle">
          Добро пожаловать в
        </h3>
        <h1 class="title">
          Стоматалогическую клинику "Елларис"
        </h1>
        <div class="main-items">
          <div class="main-item">
            <img class="main-icon" src="../../assets/icons/place.svg">
            <p class="item-text">Свердловская обл., г. Ирбит, ул. Мальгина, д. 52</p>
          </div>
          <div class="main-item">
            <img class="main-icon" src="../../assets/icons/phone.svg">
            <a href="tel:+79504578971" class="item-text">+7(950)-457-89-71</a>
          </div>
          <div class="main-item">
            <img class="main-icon" src="../../assets/icons/email.svg">
            <p class="item-text">email@gmail.com</p>
          </div>
        </div>
        <div class="main-btn">
          <a routerLink="appointment" class="btn">Записаться на прием</a>
        </div>
      </div>
      <div class="main-img">
        <img src="../../assets/images/main_icon.jpg">
      </div>
    </div>
  </div>
</div>
<div class="services">
  <div class="container">
    <div class="services-inner">
      <h3 class="services-title">НАШИ УСЛУГИ</h3>
      <div class="service-cards">
        <div class="service-card">
          <img class="card-icon" src="../../assets/images/whiteing.png">
          <h5 class="card-title">Отбеливание</h5>
          <p class="card-text">Мы дарим белоснежные улыбки нашим пациентам, используя лучшие технологии</p>
        </div>
        <div class="service-card">
          <img class="card-icon" src="../../assets/images/breakets.png">
          <h5 class="card-title">Установка брекетов</h5>
          <p class="card-text">Брекеты — самый надежный и эффективный способ исправления прикуса. Носить конструкцию
            придется не один месяц. Важно, чтобы она не доставляла физический и психологический дискомфорт. </p>
        </div>
        <div class="service-card">
          <img class="card-icon" src="../../assets/images/checkup.png">
          <h5 class="card-title">Осмотр зубов</h5>
          <p class="card-text">Осмотр зубов и десен позволит спрогнозировать развитие патологий и предотвратить их.
            Стоматолог всегда готов научить пациента правильной домашней гигиене и дать полезные рекомендации.</p>
        </div>
        <div class="service-card">
          <img class="card-icon" src="../../assets/images/endodontics.png">
          <h5 class="card-title">Эндодонтия</h5>
          <p class="card-text">Терапия каналов зуба относится к такой области стоматологии, как эндодонтия,
            которая специализируется на лечении заболеваний пульпы, рыхлой соединительной ткани, располагающейся в
            центральной части зуба</p>
        </div>
        <div class="service-card">
          <img class="card-icon" src="../../assets/images/heal.png">
          <h5 class="card-title">Лечение зубов</h5>
          <p class="card-text"> в современных стоматологических клиниках - это целый ряд специальных
            мероприятий, позволяющих прекратить развитие воспалительного процесса, восстановить все полезные функции, а
            также эстетику зубной единицы.</p>
        </div>
        <div class="service-card">
          <img class="card-icon" src="../../assets/images/vinirs.png">
          <h5 class="card-title">Имплантация</h5>
          <p class="card-text"> одна из самых популярных операций в стоматологии. И неспроста - вживленный зубной
            имплантат с установленной на нем коронкой имеет вид натурального зуба и полностью выполняет его функции.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="primary_care">
  <div class="container">
    <div class="primary_care-inner">
      <h5 class="primary_care-title">Первичная медицинская помощь - это ваша первая остановка для решения большинства
        вопросов и проблем со здоровьем
      </h5>
      <p class="primary_care-text">В стоматологической клинике Елларис вы сможете расслабиться - вы в надежных руках.
        Наша
        приверженность вашей семье воплощается во всем, что делают наши стоматологи и персонал, от дружелюбного
        приветствия, когда вы звоните или входите в нашу дверь, до тщательного и бережного обращения с нами. Наша
        команда
        семейных стоматологов и специалистов готова использовать наше обучение, чтобы помочь вам и вашим близким
        сохранить
        здоровье.</p>
    </div>
  </div>
</div>
<div class="convenience">
  <div class="container">
    <div class="convenience-inner">
      <h5 class="convenience-title">
        Мы предлагаем успокаивающую обстановку стоматологической клиники со множеством удобств, чтобы сделать ваш визит
        таким, которого вы с нетерпением ждете.
      </h5>
      <div class="convenience-content">
        <div class="convenience-card">
          <img class="card-img" src="../../assets/images/friendliness.jpeg">
          <p class="card-text">Дружелюбный персонал</p>
        </div>
        <div class="convenience-card">
          <img class="card-img" src="../../assets/images/treatment.jpg">
          <p class="card-text">Безопасность и комфорт</p>
        </div>
        <div class="convenience-card">
          <img class="card-img" src="../../assets/images/equipment.jpeg">
          <p class="card-text">Современное оборудование</p>
        </div>
      </div>
    </div>
  </div>
</div>
