<div class="footer">
  <div class="container">
    <div class="footer-inner">
      <div class="footer-content">
        <div class="titles">
          <h6 class="row-title">Елларис</h6>
          <h6 class="row-title">Социальные сети</h6>
          <h6 class="row-title">Контакты</h6>
        </div>
        <div class="lists">
          <ul class="list">
            <li class="list-item"><a routerLink="about" class="list-item-link">О НАС</a></li>
            <li class="list-item"><a routerLink="prices" class="list-item-link">УСЛУГИ</a></li>
            <li class="list-item"><a routerLink="doctors" class="list-item-link">НАШИ ВРАЧИ</a></li>

          </ul>
          <ul class="list">
            <li class="list-item">
              <a href="#" class="social-link">
                <img class="list-item-img" src="../../assets/icons/telegram.svg">
                <div class="list-item-name">Telegram</div>
              </a>

            </li>
            <li class="list-item">
              <a href="#" class="social-link">
                <img class="list-item-img" src="../../assets/icons/whatsapp.svg">
                <div class="list-item-name">WhatsApp</div>
              </a>
            </li>
            <li class="list-item">
              <a href="#" class="social-link">
                <img class="list-item-img" src="../../assets/icons/vkontakte.ico">
                <div class="list-item-name">Vk</div>
              </a>

            </li>
            <li class="list-item">
              <a href="#" class="social-link">
                <img class="list-item-img" src="../../assets/icons/email.svg">
                <div class="list-item-name">Mail</div>
              </a>
            </li>
          </ul>
          <ul class="list">
            <li class="list-item">
              <p class="list-item-subtitle">Адрес: </p>
              <p class="list-item-text">г. Ирбит, ул. Мальгина, д. 52</p>
            </li>
            <li class="list-item">
              <p class="list-item-subtitle">Телефон: </p>
              <p class="list-item-text"> <a href="tel:+79504578971">+7(950)-457-89-71</a></p>
            </li>
            <li class="list-item">
              <p class="list-item-subtitle">Время работы: </p>
              <p class="list-item-text">Пн-пт: с 8 до 20</p>
            </li>
          </ul>
        </div>
        <div class="footer-bot">
          <a routerLink="" class="logo">Елларис</a>
          <div class="rights">© ВСЕ ПРАВА ЗАЩИЩЕНЫ</div>
        </div>

      </div>
    </div>
  </div>
</div>
