<div class="about">
  <div class="container">
    <div class="container-inner">
      <div class="about-title">О Клинике</div>
      <div class="about-content">
        <p class="about-text">Наше Объединение – это сотрудничество профессионалов высокого уровня, связанных
          стремлением использовать современное стоматологическое оборудование, материалы ведущих фирм производителей и
          новейшие технологии лечения, существующие на стоматологическом рынке.</p>
        <p class="about-text">Мы оказываем весь спектр высококачественных стоматологических услуг: лечение кариеса и его
          осложнений у детей и взрослых, комплексноелечение заболеваний пародонта и слизистой оболочки полости рта, все
          виды хирургической помощи, включая имплантологию, а также ортодонтическое и ортопедическое лечение.</p>
        <p class="about-text">Наша цель – не только оказание услуг широким слоям населения, но и удовлетворение самых
          разнообразных запросов клиентов.</p>
        <p class="about-text">Здоровые зубы и красивая улыбка – залог успеха наших клиентов!</p>
        <p class="about-text">Престижно быть успешным, здоровым и красивым. Никогда не поздно заняться своим
          стоматологическим здоровьем. Нужно просто прийти к стоматологу!</p>
      </div>
      <div class="about-images">
        <img class="about-image" src="../../../assets/images/about-1.jpg">
        <img class="about-image" src="../../../assets/images/about-2.jpg">
        <img class="about-image" src="../../../assets/images/about-3.jpg">
      </div>

    </div>
  </div>
</div>
