<div class="doctor-add">
  <div class="container">
    <div class="doctor-add-inner">
      <h5 class="add-title">Добавить услугу</h5>
      <label class="name-label">Название: </label>
      <input class="name-input" type="text" [(ngModel)]="price.name" name="name"
        placeholder="Введите название улсуги...">
      <label class="price-label">Стоимость: </label>
      <input class="price-input" type="number" [(ngModel)]="price.price" name="price"
        placeholder="Введите стоимость услуги...">
      <div class="add-bottom">
        <a routerLink="/admin-prices" class="btn btn-back">Назад</a>
        <a class="btn btn-add" (click)="addPrice()">Добавить</a>
      </div>
    </div>
  </div>
</div>
